
body{
    padding: 0%;
    margin: 0%;
        background-color: #262626;
}
header .iyp{
    padding: 3%;
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 25%;
padding-right: 25%;
background-image: url(ima.jpg);
border-width: 10%;
height: 10%;
background-size: cover;
}
/*header .logo1
{
    background-image: url(logo1.jpg);
    
    padding-left: 0%;
    padding-right:75%;
    max-width: 100%;
    background-size: cover;
    object-fit: cover;
   
}*/
header .iyp h1{
    letter-spacing: 0.09em;
    color: oldlace;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    padding-bottom: 10%;
}
.container
{
    margin-left: 50px;
    margin-right: 10px;
width: 100%;
height: 20%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}
.text h2
{
font-family: Georgia, 'Times New Roman', Times, serif;
color: whitesmoke;
text-align: center;
text-decoration: none;
border:25%;
padding-left: 5%;

}
.text a{
    text-decoration: none;
    text-align: center;
}
.text a :hover{
color: #262626;
}



.home
{
position: relative;
width: 45%;
height:45%;

box-sizing: border-box;
position: relative;
margin: 2%;
display:inline-block;
}
.awards
{
    position: relative;
width: 45%;
height: 45%;

margin: 2%;
box-sizing: border-box;
display: inline-block;
}
.major
{
    position: relative;
width: 45%;
height:45%;
margin: 2%;
box-sizing: border-box;
display: inline-block;
background-size: cover;
object-fit: cover;
}
.past
{
    position: relative;
width: 45%;
height: 45%;

margin: 2%;
box-sizing: border-box;
display: inline-block;
background-size: cover;
object-fit: cover;
}
.box{
    padding-top: 5%;
    background-color: #262626;
    width: 45%;
    height: 45%;
    position: relative;
transition-property: all;
transition-duration:1s;

transition-timing-function: ease;

}
.box:hover{
    background-color:rgba(207,207,207,0.9);
    border-radius:50%;
    transform: rotate3D(30DEG);
    text-align: right;
    color: #262626;
        }